.idea
*.pyc
*.gz
examples/datasets/*/
examples/output
sentence_transformers.egg-info
dist/
nr_*/
/examples/training_transformers/output
/examples/datasets/
/examples/embeddings/
/pretrained-models/
/cheatsheet.txt
/testsuite.txt
/TODO.txt
