.idea
.vscode
*.pyc
*.gz
*.tsv
tmp_*.py
/examples/**/output/*
examples/datasets/*/
sentence_transformers.egg-info
dist/
nr_*/
/examples/datasets/
/examples/embeddings/
/pretrained-models/
/cheatsheet.txt
/testsuite.txt
/TODO.txt
/docs/_build/
/docs/make.bat
/docs/Makefile
/examples/training/quora_duplicate_questions/quora-IR-dataset/
